@media (width<780px){
    .body7-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
      }
      .body7-data{
        width: 50%;
        row-gap:20px ;
      }

      .body7 h4{
        text-align: center;
      }
    
}